<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="breadcrumbs-area">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb d-flex pl-0 mb-0">
                        <li class="breadcrumb-item" aria-current="page"><span class="w-14 d-inline-block -mb-2">
                            <a href="{{@site.url}}">{{> icons/home}}</span> {{t "Home"}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>