
    <div class="flex">
        <div class="section-title d-flex align-items-center mt-50 mb-30">
            <h4>{{t "Most Recent"}}</h4>
        </div>
        {{#get "posts"}}
            {{#if posts}}
            <div class="gh-headlines-wrapper" id="hot">
                <div class="row">
                    {{#foreach  posts limit='1' visibility="all"}}
                     {{title}}
                    {{/foreach}}
                </div>
            </div>
            
            {{/if}}
        {{/get}}
    </div>
