<div class="col-lg-4">
    <div class="sidebar-section">
        <div class="section-title d-flex align-items-center mb-30">
            {{> title-bar}}
            <h4>{{t "Stay Connected"}}</h4>
        </div>

        {{!-- social-profiles --}}
        {{> sidebar/social-profiles}}

        {{!-- sidebar featured news --}}
        {{> sidebar/featured-news}}

        {{!-- subscribe form --}}
        {{> sidebar/subscribe}}
    </div>
</div>